<h1>Add Reimbursement</h1>

<%= form_with model: @reimburse_claim, local: true do |f| %>
    <div>
        <%= f.label :purpose %>
        <%= f.text_field :purpose %>
    </div>

    <div>
        <%= f.label :amount %>
        <%= f.number_field :amount %>
    </div>

    <div>
        <%= f.label :date_of_expenditure %>
        <%= f.date_field :date_of_expenditure %>
    </div>

    <% if current_user.admin? %>
        <div>
            <%= f.label :employee_id, "Select Employee" %>
            <%= f.collection_select :employee_id, current_user.employees, :id, :name, include_blank: "Select an Employee" %>
        </div>
    <% end %>

    <div>
        <%= f.label :file, "Upload Receipt" %>
        <%= f.file_field :file %>
    </div>

    <div>
        <%= f.submit "Submit Reimbursement" %>
    </div>
<% end %>